@use "sass:color";
@use "../modules/mixins";
@use "../modules/colors.scss" as *;

/* ESTILIZAÇÕES GERAIS */
$react-color: #646464;
$hover-value: -20;
$active-value: -50;
.roll-button {
    background: $react-color;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 60%;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 200ms, transform 500ms;

    &:hover {
        background-color: color.adjust(
            $color: $react-color,
            $red: $hover-value,
            $green: $hover-value,
            $blue: $hover-value,
        );
        transform: scale(1.2);
    }
    &:active {
        background-color: color.adjust(
            $color: $react-color,
            $red: $active-value,
            $green: $active-value,
            $blue: $active-value,
        );
    }
}

.general-container {
    position: relative;

    font-family: Arial, Helvetica, sans-serif;
}

.have-spec:hover {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.span-container {
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    text-align: center;
}

// Logged Menu
.logged-menu {
    @include mixins.flex();
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;

    li {
        background-color: $border-color;
        height: 100%;
        padding: 10px;
        font-weight: bold;
        color: white;

        &:hover {
            background-color: color.adjust(
                $border-color,
                $red: 20,
                $blue: 20,
                $green: 20,
            );
            cursor: pointer;
        }
        &:active {
            background-color: color.adjust(
                $border-color,
                $red: 10,
                $blue: 10,
                $green: 10,
            );
        }
    }

    position: absolute;
    top: -40px;
    left: 0;
}

// Títulos
h2 {
    background-color: $title-bg;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 100%;
}

/* INFORMAÇÕES BÁSICAS */
#basic-area {
    @include mixins.flex($dir: column);
    grid-area: basic;
    font-family: Arial, Helvetica, sans-serif;

    #name {
        color: #757575;
        font-size: 6vw;
        box-shadow: 3px 3px 3px solid;
    }
    .infos-container {
        @include mixins.flex(space-around);
        width: 100%;
    }
}

/* ÁREA DOS ATRIBUTOS */
#attributes-area {
    @include mixins.flex();
    padding: 30px;
    grid-area: attrs;
}

/* INFORMAÇÕES DE SAÚDE */
h3 {
    text-align: center;
}
#health-area {
    grid-area: saude;

    .health-container {
        position: relative;

        p {
            @include mixins.flex();
            width: 100%;
            top: 0;
            position: absolute;
            color: white;
            text-shadow: 3px 3px 3px #0000003a;
        }
        input {
            width: 20%;
            text-align: center;
            background-color: #00000000;
            color: white;
            text-shadow: 3px 3px 3px #0000003a;
        }
    }
}

/* MOVIMENTO */
#moviment-area {
    grid-area: movimento;
    p.char-move {
        @include mixins.flex($jc: flex-start, $dir: column);
        height: 100%;
        font-weight: bold;
        font-size: 4vw;
    }
}

