@use "sass:color";
@use "../modules/mixins";
@use "../modules/colors.scss" as *;

/* ESTILIZAÇÕES GERAIS */
.general-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 37.5% 37.5% auto;
    grid-template-rows: 20vh auto auto auto auto;
    grid-template-areas:
        "basic basic ."
        "attrs attrs specs"
        "saude movimento specs"
        "defesa reacoes specs"
        "nivel dados specs";

    font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.span-container {
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    font-size: 1.3rem;
    text-align: center;
}

// Títulos
h2 {
    background-color: $title-bg;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 100%;
}

/* INFORMAÇÕES BÁSICAS */
#basic-area {
    @include mixins.flex($dir: column);
    grid-area: basic;
    font-family: Arial, Helvetica, sans-serif;

    #name {
        color: #757575;
        font-size: 6vw;
        box-shadow: 3px 3px 3px solid;
    }
    .infos-container {
        @include mixins.flex(space-around);
        width: 100%;
    }
}

/* ÁREA DOS ATRIBUTOS */
#attributes-area {
    @include mixins.flex();
    padding: 30px;
    grid-area: attrs;
}

/* ESPECIALIDADES */
#specialitys-area {
    grid-area: specs;

    table {
        width: 100%;
        tr {
            @include mixins.flex(space-between);
            width: 100%;
            padding: 4px;
        }
    }
}

/* INFORMAÇÕES DE SAÚDE */
#health-area {
    grid-area: saude;

    div {
        @include mixins.flex(space-between);
        font-size: 1.1rem;
        margin-top: 15px;

        p {
            @include mixins.flex();
            font-size: 1.3rem;
        }
    }
}

/* MOVIMENTO */
#moviment-area {
    grid-area: movimento;
    p {
        @include mixins.flex($jc: flex-start, $dir: column);
        height: 100%;
        font-size: 4vw;
        font-weight: bold;
    }
}

/* DEFESA */
#defend-area {
    grid-area: defesa;

    .defend-container {
        @include mixins.flex(space-around);
        margin-top: 20px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    #ca-area div, #shield-area {
        @include mixins.flex(space-between);
        gap: 10px;
    }
    input[type="checkbox"] {
        accent-color: #535353;
        color: white;
    }
}


#level-area {
    @include mixins.flex($dir: column);
    gap: 20px;
    grid-area: nivel;

    #level-container {
        position: relative;
        width: 90%;
    }

    #level-xp {
        @include mixins.flex();
        position: absolute;
        top: 0;
        height: 30px;
        width: 90%;
        color: white;
        text-shadow: 3px 3px 3px #0000003b;

        input {
            width: 30%;
            text-align: center;
            font-size: 1.05em;
            color: white;
            text-shadow: 3px 3px 3px #0000003b;
        }
    }

    #actual-level {
        background-color: #00000000;
    }
}

$react-color: #646464;
$hover-value: -20;
$active-value: -50;
/* REAÇÕES */
#reactions-area {
    grid-area: reacoes;

    .reactions-container {
        @include mixins.flex($dir: column);
        gap: 8px;
        margin-top: 10px;
    }

    .reaction {
        background: $react-color;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
        width: 60%;
        font-size: 1.2em;
        font-weight: bold;
        transition: background-color 200ms, transform 500ms;

        &:hover {
            background-color: color.adjust(
                $color: $react-color,
                $red: $hover-value,
                $green: $hover-value,
                $blue: $hover-value,
            );
            transform: scale(1.2);
        }
        &:active {
            background-color: color.adjust(
                $color: $react-color,
                $red: $active-value,
                $green: $active-value,
                $blue: $active-value,
            );
        }
    }
}
#dices-area {
    grid-area: dados;
}