@use 'sass:color';

.logo-container {
    width: 270px;
    position: absolute;
    top: -20px;
    right: 15px;

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(70, 70, 70);
        text-align: center;
        font-size: 45pt;
        top: -20px;
    }
}

#fens-logo {
    width: 100%;
}