$span-color: #343434;
$input-color: #505050;
$title-bg: #2D2D2D;

$strengh-color: #A80000;
$dexterity-color: #12A80F;
$constituition-color: #022CC1;
$education-color: #8B00CC;
$vigillance-color: #5A5A5A;
$commonSense-color: #ED8000;
$charisma-color: #FFF730;