$span-color: #343434;
$input-color: #505050;
$title-bg: #2D2D2D;
$border-color: #272727;

$areas-colors: (
    "strengh": #A80000,
    "dexterity": #12A80F,
    "constituition": #022CC1,
    "education": #8B00CC,
    "vigillance": #5A5A5A,
    "commonSense": #ED8000,
    "charisma": #FFF730,
    "block": #C4C4C4,
);