.main-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 6vw;

    margin-left: 20px;

    position: absolute;

    color: #3C3C3C;
}

.task-logo {
    display: block;
    position: absolute;
    width: 200px;
    top: -20px;
    right: -20px;
}