@use '../../modules/colors' as *;
@use '../../modules/mixins';

$normal-font-size: 1.2em;

.ability {
    @include mixins.flex($dir: column);
    gap: 5px;
    label {
        font-size: $normal-font-size;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}

.wrapper {
    @include mixins.flex($jc: space-between);
    width: 100%;
    input {
        border: 1px solid black;
        width: 60px;
    }
    select {
        font-size: $normal-font-size;
    }
}

textarea {
    width: 100%;
    font-size: 1.6em;
}